.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    mask-image: linear-gradient(to right, transparent 0%, black 40%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%);
}
.hero-caption {
    position: absolute;
    left: 0;
    bottom: -9%;
    padding-left: 6%;
    max-width: 100%;
    color: white;
    z-index: 2;
}
.hero-caption p {
    max-width: 777px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #e5e5e5;
}
.hero-caption .highlight {
    font-weight: 500;
    color: #ffffff;
}
.hero_btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero_btns .btn img{
    width: 25px;
}
.hero_btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;   
}
.hero_btns .btn.dark-btn{
    color:#fff;
    background: #6d6d6d;
}
.hero_btns .btn:hover{
    background: #ffffffbf;
}
.hero_btns .btn.dark-btn:hover{
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
    
}
.trailer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.trailer-box {
  width: 80%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  /*position: relative;*/
}

.trailer-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.close-btn {
 position: fixed;
  top: 60px;
  right: 30px;
  z-index:10001;
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
}
@media (max-width: 1024px){
    .hero-caption .title-cards{
        display: none;
    }
    .hero_btns{
        margin-bottom: 30px;
    }
}
@media (max-width: 800px){
    .hero-caption{
        padding-left: 4%;
    }
    .banner-img{
        margin-bottom: 10px;
        width: 10%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero_btns .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}
@media (max-width: 500px){
    .banner-img{
        display: none;
    }
    .hero_btns .btn img{
        width: 15px;
    }
    .hero_btns .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}